.panel {
  position: absolute;
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.10);
  z-index: 1000;
  background-color: white;
}

.panel__header {
  font-family: 'Courier New', Courier, monospace;
  padding: 0.25rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  max-height: 30px;
  background-color: rgb(224, 224, 224);
  cursor: grab;
}

.panel__header__drag-area {
  display: flex;
  width: 100%;
}


.panel__header:active {
  cursor: grabbing;
}

.panel__header__title {
  font-style: italic;
}

.panel__header__spacer {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  margin: 0;
  padding: 3px;
  flex-grow: 100;
}

.panel__header__spacer>li {
  width: 100%;
  height: 1px;
  margin: 1px;
  background-color: black;
}

.panel__content {
  width: 100%;
  height: calc(100% - 30px);
  position: relative;
  overflow: scroll;
}

.panel__content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.panel__content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.panel__controls__close {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.panel__controls__close>span {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.panel__resize-handle {
  position: absolute;
  box-sizing: content-box;
  width: 3px;
  height: 3px;
  background-color: white;
  border: 5px solid gray;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  bottom: 2px;
  right: 2px;
  cursor: se-resize;
}

.panel__resize-handle:hover {
  border-color: red;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}

.panel__footer {
  position: absolute;
  bottom: 0;
  height: 10px;
  width: 100%;
}

/**
*
* PANEL SPECIFIC
*/

.panel-name {
  cursor: pointer;
}

.panel-name:hover {
  text-decoration: line-through;
}

.panel--focused {
  position: relative;
  z-index: 1100;
}