*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32px' height='32px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E %3Cpath d='M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z'/%3E %3C/svg%3E"), pointer;
}

nav {
  background-color: rgba(255,255,255,0.95);
}

#wrapper {
  position:relative;
  padding: 0.5rem;
  width: 100%;
}

a, a:visited {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: line-through;
}


/* HELPERS */

.intro .title {
  font-size: 4rem;
  margin-bottom: 0;
  text-decoration: underline;
}
.intro .subtitle {
  margin-top: 0;
  font-size: 3.4rem;
}

.subtitle {
  font-size: 1.5rem;
}
p {
  max-width: 600px;
}

.highlight {
  background-color: yellow;
}

blockquote {
  border-left: 3px solid grey;
  padding: 0.5rem;
}
.author:before {
  content: '-';
}

.row {
  max-width: 1000px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.row .item {
  padding: 0.5rem;
  flex: 1 1;
}

.img.small {
  width: 300px;
  height: auto;
}

.img.medium {
  width: 600px;
  height: auto;
}

.img.large {
  width: 900px;
  height: auto;
}

.img.stretch {
  width: 100%;
}

.small {
  font-size: 0.8rem;
}

@media (min-width: 900px){
  nav {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  .row {
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

/* HOME */

.portrait {
  position: relative;
  width: 300px;
  height: 300px;
}

.portrait .cmyk {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  mix-blend-mode: multiply;
  transition: margin-left 0.4s;
}
.portrait .cmyk.stretch.cmyk-m,
.portrait:hover .cmyk.cmyk-m {
  margin-left: 100px;
}
.portrait .cmyk.stretch.cmyk-y,
.portrait:hover .cmyk.cmyk-y {
  margin-left: 200px;
}
.portrait .cmyk.stretch.cmyk-k,
.portrait:hover .cmyk.cmyk-k {
  margin-left: 300px;
}


/* BAM */
.btn {
  font-style: bold;
  font-size: 18px;
  padding: 0.5em;
  cursor: pointer;
}

.btn-primary {
  background-color: blue;
  color: white;
}

.btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}



/* CODE */
pre {
  background-color: #D1D1D0;
  overflow: auto;
  font-family: 'Monaco', monospace;
  padding: 0 1em;
}



code {
  font-family: Monaco, monospace;
  font-size: 0.8rem;
  line-height: 100%;
  background-color: #eee;
  padding: 0.2em;
  letter-spacing: -0.05em;
  word-break: normal;
  border-radius: 5px;
}



pre code {
  border: none;
  background: none;
  line-height: 1em;
  letter-spacing: normal;
  word-break: break-all;
}

/**
 CONTACT FORM
*/



.modal {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  height: auto;
  transform: translate(-50%, -50%);
  background-color: rgb(250,250,250);
  padding: 1rem;
}

.cover-all {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background-color: rgba(0,0,0, 0.3)
}
