.music-player-container {
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-gap: 10px;
  height: 100%
}

.music-player {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 1rem;
  color: #fff;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.hidden {
  opacity: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.visualizer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.track-details {
  display: flex;
  align-items: center;
}

.now-playing {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5)
}

.track-info {
  margin-left: 1rem;
}

.track-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.artist {
  margin: 0;
  padding: 0;
}

.controls {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-radius: 10px;
}

.curTime,
.duration {
  padding: 5px;
}

.ctl-btn {
  margin: 0 0.3rem;
}

.control-btns {
  display: flex;
  margin: 0 0.5rem;
}

.playpause {
  width: 24px;
  height: 24px;
  transition: 500ms all ease;
  will-change: border-width border-color;
  cursor: pointer;
  border-style: solid;
  border-width: 12px 0 12px 24px;
  border-color: transparent transparent transparent #868fd4;
}

.playpause.paused {
  border-style: double;
  border-width: 0px 0 0px 24px;
}

.next {
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: relative;
  border-style: solid;
  border-width: 12px 0 12px 12px;
  border-color: transparent transparent transparent #868fd4;
}

.next::after {
  content: "";
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: absolute;
  top: -12px;
  border-style: solid;
  border-width: 12px 0 12px 12px;
  border-color: transparent transparent transparent #868fd4;
}



#seek-slider {
  width: 100%;
}

input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  width: 48%;
  margin: 0;
  padding: 0;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}

input[type="range"]::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  background-color: #007db5;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: -7px 0 0 0;
}

input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: #007db5;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}

input[type="range"]::-moz-range-progress {
  background-color: #007db5;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

input[type="range"]::-moz-range-thumb {
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  background: #007db5;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border: solid transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background-color: #007db5;
}

input[type="range"]::-ms-fill-upper {
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}

input[type="range"]::-ms-thumb {
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

input[type="range"]:active::-ms-thumb {
  transform: scale(1.2);
  background: #007db5;
}